/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#purchase {
    display: none;
}

#tenants {
    display: none;
}

#tenant {
    display: none;
}

#rent {
    display: none;
}

#expenses {
    display: none;
}

#capital {
    display: none;
}