 {% extends 'base.html'%} {% block content %}

<script type="text/javascript" src="static/js/bldg_list.js"></script>

<div class="container">
    <h2 class="header ">Building List</h2> 
    <br>

    <div class="table_container">
        <table id="bldg_list" class="display" style="width:70%"></table>
    </div>
    <div class="row">
        <a href=# class="waves-effect waves-light btn ">Add <i class="material-icons right">playlist_add</i></a>
        <a href=# id = "bldg_add_btn" class="waves-effect waves-light btn ">Edit <i class="material-icons right">playlist_add</i></a>
        <a href=# class="waves-effect waves-light btn ">Delete <i class="material-icons right">playlist_add</i></a>
    </div>
</div>





{% endblock %}\
 