 {% extends 'base.html'%} {% block content %} {% if status == "new"%}
 
 <!--<script type="text/javascript" src="static/js/bldgedit.js"></script>-->
 
<h3 class="header"> New Property</h3>
{% else %}
<h3 class="header"> Property Update</h2>
    {% endif %}
    <!--tabs-->
    <div class="container"  id="bldg_edit_tabs">
        <div class="row">
            <a class="waves-effect waves-teal btn-flat" id="infoTab">Info</a>
            <a class="waves-effect waves-teal btn-flat" id="purchaseTab">Acquisition</a>
            <a class="waves-effect waves-teal btn-flat" id="tenantsTab">Tenants</a>
            <a class="waves-effect waves-teal btn-flat" id="expenseTab">Expenses</a>
            <a class="waves-effect waves-teal btn-flat" id="capitalTab">Capital</a>
        </div>
        <hr>
    </div>
    
    

    <div class="container">
        <div class="row">
            <form action=# method="POST" class="col s12">
                <div class="row" id="info">
                    <h4>Info</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="bldg_name" name="bldg_name" type="text" value={{ bldgData.name }}>
                            <label>Property name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="bldg_street" name="bldg_street" type="text" value={{bldgData.street}}>
                            <label>Street</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="bldg_town" name="bldg_town" type="text" value={{bldgData.town}}>
                            <label>City</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="bldg_st" name="bldg_st" type="text" value={{bldgData.st}}>
                            <label>St. </label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_zip" name="bldg_zip" type="text" value={{bldgData.zip}}>
                            <label>Zip</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="bldg_page" name="bldg_page" type="text" value={{bldgData.page}}>
                            <label>Page</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_lot" name="bldg_lot" type="text" value={{bldgData.lot}}>
                            <label>Lot</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_block" name="bldg_block" type="text" value={{bldgData.block}}>
                            <label>Block</label>
                        </div>
                    </div>
                    <div class="row" id="typeSize">
                        <div class="input-field col s4">
                            <input id="bldg_gla" name="bldg_gla" type="text" value={{bldgData.gla}}>
                            <label>GLA (sf)</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_land" name="bldg_land" type="text" value={{bldgData.land}}>
                            <label>Land (acre)</label>
                        </div>
                        <div class="input-field col s4"  value={{bldgData.type}} >
                            <select>
                          <option value="" disabled selected>Choose your option</option>
                          <option value="1">Industrial</option>
                          <option value="2">Mixed Use</option>
                          <option value="3">Retail</option>
                        </select>
                            <label>Type</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="purchase">
                    <h4>Purchase</h4>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="bldg_price" name="bldg_price" type="text" value={{ bldgData.contract_price }}>
                            <label>Contract Price</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="bldg_noi" name="bldg_noi" type="text" value={{ bldgData.noi}}>
                            <label>Purchase NOI</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <input id="bldg_cap" name="bldg_cap" type="text" value={{ bldgData.cap}}>
                            <label>Purchase CAP rate</label>
                        </div>
                    </div>
                    <hr>
                    <h4>Loan</h4>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="bldg_bank" name="bldg_bank" type="text" value={{ bldgData.bank}}>
                            <label>Bank</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_ltv" name="bldg_ltv" type="text" value={{ bldgData.ltv}}>
                            <label>Loan to Value</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="bldg_loan_amt" name="bldg_loan_amt" type="text" value={{ bldgData.loan_amount}}>
                            <label>Amount</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="bank_loan_term" name="bldg_loan_term" type="text" value={{ bldgData.loan_term}}>
                            <label>Term</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bank_loan_amort" name="bldg_loan_amort" type="text" value={{ bldgData.amort}}>
                            <label>Amortization Period</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="tenants">
                    <h4 class="header ">Tenants</h4>
                    <br>
                    <!--<a href='/tenant_rent' id="tenants_rent_btn" class="waves-effect waves-light btn ">test Rent <i class="material-icons right">playlist_add</i></a>-->
                    <br><br>
                    <div class="table_container">
                        <table id="tenants_list" class="display" style="width:70%"></table>
                    </div>
                    
                </div>

                <div class="row" id="rent">
                    <h4 class="header ">Rent</h4>
                    <div class="table_container">
                        <table id="rent_list" class="display" style="width:70%"></table>
                    </div>
                </div>
                <div class="row">
                        <a class="waves-effect waves-teal btn-flat" id="rentsave">Save</a>
                        <a class="waves-effect waves-teal btn-flat" id="rentexit">Save and Exit</a>
                </div>
                <div class="row" id="expenses">
                    <h4 class="header ">Expenses</h4>
                    <div class="table_container">
                        <table id="expense_list" class="display" style="width:70%"></table>
                    </div>
                </div>
                <div class="row" id="capital">
                    <h4 class="header ">Capital and Improvements</h4>
                    <div class="table_container">
                        <table id="cap_list" class="display" style="width:70%"></table>
                    </div>
                    
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn-small type="submit" value="exit" name="action"">Save</a>
                    <a class="waves-effect waves-light btn-small type="submit" value="exit" name="action"">Cancel</a>
                </div>
            </form>
        </div>

    </div>


    <script type="text/javascript" src="static/js/bldgedit.js"></script>

    {% endblock %}
 