 {% extends 'base.html'%} {% block content %} 
 


<h3 class="header"> Property Update</h3>
    <!--tabs-->
    <div class="container"  id="bldg_edit_tabs">
        <div class="row">
            <a class="waves-effect waves-teal btn-flat" id="infoTab">Info</a>
            <a class="waves-effect waves-teal btn-flat" id="purchaseTab">Acquisition</a>
            <a class="waves-effect waves-teal btn-flat" id="tenantsTab">Tenants</a>
            <a class="waves-effect waves-teal btn-flat" id="expenseTab">Expenses</a>
            <a class="waves-effect waves-teal btn-flat" id="capitalTab">Capital</a>
        </div>
        <hr>
    </div>
    
    

    <div class="container">
        <div class="row">
            <form  method="POST" class="col s12">
                <div class="row" id="info">
                    <h4>Info</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="editbldgdata" type="hidden" name="editbldgdata"  value = {{ data._id }} >
                            <input id="bldg_name" name="bldg_name" type="text" value= "{{data.name }}">
                            <label>Property name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="bldg_street" name="bldg_street" type="text" value="{{data.street }}">
                            <label>Street</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="bldg_town" name="bldg_town" type="text" value="{{data.town }}"}>
                            <label>City</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="bldg_st" name="bldg_st" type="text" value="{{data.st }}">
                            <label>St. </label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_zip" name="bldg_zip" type="text" value="{{data.zip }}">
                            <label>Zip</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="bldg_page" name="bldg_page" type="text" value= "{{data.page }}">
                            <label>Page</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_lot" name="bldg_lot" type="text" value= "{{data.lot }}">
                            <label>Lot</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_block" name="bldg_block" type="text" value= "{{data.block }}">
                            <label>Block</label>
                        </div>
                    </div>
                    <div class="row" id="typeSize">
                        <div class="input-field col s4">
                            <input id="bldg_gla" name="bldg_gla" type="text" value="{{data.gla }}">
                            <label>GLA (sf)</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="bldg_land" name="bldg_land" type="text" value="{{data.land }}">
                            <label>Land (acre)</label>
                        </div>
                        <div class="input-field col s4" id="bldg_type" value="{{data.type }}" >
                            <select id="bldg_type" >
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Industrial</option>
                              <option value="2">Mixed Use</option>
                              <option value="3">Retail</option>
                            </select>
                            <label>Type</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="editform_bottom_btns">
                    <a class="waves-effect waves-light btn-small type="submit" id="newbldgSaveBtn"  name="action"">Save</a>
                    <a class="waves-effect waves-light btn-small type="submit" id="newbldgSaveExitBtn"  name="action"">Save & Exit</a>
                    <a href = "/" class="waves-effect waves-light btn-small type="submit"  name="action"">Cancel</a>
                </div>
            </form>
        </div>

    </div>



    {% endblock %}
 